.container {
  padding: 20px;
}

.filter {
  display        : flex;
  flex-wrap      : wrap;
  justify-content: center;
  align-items    : center;
  height         : 75px;

  mat-form-field {
    margin-right: 16px;

    @media (max-width: 430px) {
      margin-right: 0;
    }
  }
}

::ng-deep {
  .mat-form-field-infix {
    background         : #3f51b5;
    // background-color: rgba(25, 25, 112, 0.712);
    color              : snow;
    font-size          : 0.85rem;
    font-weight        : 500;
    letter-spacing     : 2px;
    outline            : none;
  }

  .mat-select-value,
  .mat-select-arrow,
  .mat-form-field-hide-placeholder .mat-select-placeholder,
  .mat-form-field-appearance-legacy .mat-form-field-label {
    color  : white !important;
    opacity: 1;
  }

  .mat-form-field-infix {
    border-color: white !important;
    border-top  : none;
    padding-left: 5px !important;
  }

  .mat-form-field-appearance-legacy .mat-form-field-label {
    padding-left: 5px;
  }

  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background: white !important;
  }
}

.games {
  display        : flex;
  flex-wrap      : wrap;
  justify-content: center;
  align-items    : center;
  width          : 100%;
  max-width      : 1200px;
  margin         : auto;
  // padding: 20px;
}

.game {
  width           : 277px;
  height          : 350px;
  margin          : 32px auto;
  overflow        : hidden;
  background-color: rgb(6, 6, 6);
  border-radius   : 5px;
  cursor          : pointer;
  transition      : 0.3s ease;

  @media (max-width: 576px) {
    width: 90%;
  }

  &:hover {
    box-shadow: 0px 0px 15px #3f51b5, 0 0 25px #5669da;
    transform : translateY(-3px);
    border    : 1px solid #3f51b5;
  }

  &-thumb-container {
    background-color: #202020;
    position        : relative;
    font-size       : 18px;
    height          : 172px;
    color           : white;
    text-align      : center;
    display         : flex;
    align-items     : center;
    justify-content : center;
  }

  &-thumbnail {
    position: absolute;
    top     : 0;
    left    : 0;
    right   : 0;
    width   : 100%;
    height  : 172px;
    margin  : 0 auto;
  }

  &-description {
    padding   : 30px;
    text-align: center;
  }

  &-name {
    color         : rgba(255, 255, 255, 0.9);
    font-weight   : 700;
    font-size     : 20px;
    letter-spacing: 2px;
    margin-bottom : 20px;
    white-space   : nowrap;
    text-overflow : ellipsis;
    overflow      : hidden;
  }

  &-platforms {
    display        : flex;
    justify-content: center;
    align-items    : center;
  }

  &-platform {
    height      : 25px;
    margin-top  : 10px;
    margin-right: 10px;
  }
}


.btn-container {
  display        : flex;
  flex-flow      : row nowrap;
  align-items    : center;
  justify-content: center;
  width          : 100%;
  margin-top     : 20px;
  border-radius  : 2px;
}

.btn-container button {
  margin     : 0 .5rem;
  padding    : .2rem .5rem;
  font-size  : 110%;
  background : #273cb6;
  color      : rgba(255, 255, 255, 0.9);
  font-weight: 500;
  border     : none;
  outline    : none;

}

.btn-container button:hover,
.btn-container button.active {
  background: white;
  color     : #000;
  box-shadow: 0 0 2px white,
    0 0 4px white,
    0 0 6px white;
}